* {
    padding: 0;
    margin: 0;
}

body{
    background: url(images/back.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
}

#login{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    background-color: rgba(255,255,255,.6);
    background-blend-mode: exclusion;
    border-radius: 5%;
    width: 500px;
    text-align: center;
    display: none;
}

#register{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    background-color: rgba(255,255,255,.6);
    background-blend-mode: exclusion;
    border-radius: 5%;
    width: 500px;
    text-align: center;
}


form{
    margin-top: 5%;
    margin-bottom: 5%;
}


footer{
    margin-top: 10%;
    padding: 3%;
    text-align: center;
    color: #fff;
    background-color: #000;
}
